{{#extend "stylesheet"}}
<link rel="stylesheet" href="{{staticPath}}/static/css/index.css">
{{/extend}}
<div class="ui-container">
    <div class="article-list">
        <ul>
            {{#each list}}
            <li>
                <div class="article-item fn-clear">
                    <div class="art-img-wrap">
                        <a href="{{link}}" target="_blank"><img src="{{imgSrc}}" alt=""></a>
                    </div>
                    <div class="art-content">
                         <p><a href="{{link}}" target="_blank">{{{title}}}</a></p>
                        <p class="art-time">{{{time}}}</p>
                        <p>{{{desc}}}</p>
                    </div>
                </div>

                <h2>有道翻译：</h2>

                <div class="article-item fn-clear">
                    <div class="art-img-wrap"></div>
                    <div class="art-content">
                        <p><a href="{{link}}" target="_blank">{{{transTitle}}}</a></p>
                        <p class="art-time">{{{transTime}}}</p>
                        <p>{{{transDesc}}}</p>
                    </div>
                </div>

            </li>
            {{/each}}
        </ul>
    </div>
</div>
