@import "main";

.tab-wrap {
    padding-bottom: 15px;
    li {
        float: left;
        padding: 0 10px;
        font-size: 16px;
        position: relative;
        a {
            color: #000000;
            &.cur {
                color: #ff9900;
            }
        }
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top:0;
            width: 1px;
            height: 100%;
            border-right: 1px solid #000;
        }
    }
}


.article-list {
    line-height: 1.5;
    ul {
        li {
            margin-bottom: 10px;
            border-bottom: 2px solid #99cc00;
        }
    }
}

.article-item {
    display: flex;
    margin-bottom: 10px;
    .art-img-wrap {
        min-width: 82px;
        height: 82px;
        a {
            display: block;
            border: 1px solid #ffffff;
            text-align: center;
            width: 100%;
        }

        img {
            vertical-align: middle;
            max-width: 100%;
        }
        margin-right: 15px;
    }
    .art-content {
        .art-time {
            color: #878282;
        }
    }
}

.daum-container {
    .art-img-wrap {
        min-width: 120px;
        height: 120px;
        margin: 0 0 0 15px;
    }
    .article-item {
        min-height: 120px;
    }
}

