.ui-page {
    background-color: rgba(255,209,220,.5);
}
.ui-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
.header-wrap {
    height: 50px;
    line-height: 50px;
    img {
        height: 50px;
        vertical-align: middle;
        padding-right: 5px;
    }
    margin-bottom: 15px;
}